.pagecontent_horizontal_card {
    display: flex;
}

.pagecontent_horizontal_card_imagecontainer{
    flex: 0 0 20%;
    max-width: 20%;
}

.pagecontent_horizontal_card_imagecontainer img {
    width: 100%;
    height: auto;
}

.pagecontent_horizontal_card_textcontainer {
    flex: 1;
    padding: 0 var(--spacing-900);
}

@media only screen and (max-width: 600px) {
    .pagecontent_horizontal_card {
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .pagecontent_horizontal_card_textcontainer {
        flex: 1;
        padding: 0 var(--spacing-400);
    }
}