.xpcards_container .xpcard_container {
    padding: var(--spacing-900);
}

.xpcards_container .xpcard_container:hover{
    box-shadow: 0 8px 64px -8px hsla(0,0%,100%,.3),0 8px 16px -8px hsla(0,0%,100%,.3);
    transition: .4s
}
